{% load widget_tweaks %}
<section class="grid md:grid-cols-3 bg-black">
    <div></div>
    <form action="" method="post" class="topicForm" novalidate> {% csrf_token %}
        {% url 'topic-check-title' as checkTitleUrl %}
        <div class="inputBox">
            {% render_field form.title class="input w-auto input-active" id=form.title.label hx-get=checkTitleUrl hx-trigger="keyup changed delay:500ms" hx-target=".titleError" %}
            <label for="{{form.title.label}}" class="label-active">{{form.title.label}}</label>
            <small class="error titleError m-1"></small>
        </div>
        {% url 'topic-check-text' as checkTextUrl %}
        <div class="inputBox">
            {% render_field form.text class="input w-auto input-active" id=form.text.label  hx-get=checkTextUrl hx-trigger="keyup changed delay:500ms" hx-target=".textError" %}
            <label for="{{form.text.label}}"  class="label-active">{{form.text.label}}</label>
            <small class="error textError m-2">{{form.text.errors}}</small>
        </div>
        <button type="submit" id="button">SUBMIT</button>
    </form>
    <div></div>
</section>

<script>
    $('.input').on('change', function(){
    let value = $(this).val();
    if (value.length) {
        $(this).addClass('input-active');
        $(this).parent().children('label').addClass('label-active');
    } else {
        $(this).removeClass('input-active');
        $(this).parent().children('label').removeClass('label-active');

    }
})
</script>